<nav class="row {% if page.url == "/work.html" %}work-nav{% endif %}">
  <h3> <a class="list-item__active list-item__link" href="/">brmu</a> </h3>
  <ul class="list">
    <li class="list-item"> <a class="{% if page.url == "/work.html" %}list-item__active {% endif %}list-item__link" href="{{ site.baseurl }}/work.html">Projects</a> </li>
    <li class="list-item"> <a class="list-item__link" href="{{ site.baseurl }}/blog.html">Blog</a> </li>
    <li class="list-item"> <a class="list-item__link" href="{{ site.baseurl }}/hire-me.html">Hire me</a> </li>
  </ul>
</nav>
